RemovePattern=Dr 
RemovePattern=Dr. 
RemovePattern=med. 
RemovePattern=med 
RemovePattern=A.
RemovePattern=B.
RemovePattern=C.
RemovePattern=D.
RemovePattern=E.
RemovePattern=F.
RemovePattern=G.
RemovePattern=H.
RemovePattern=I.
RemovePattern=J.
RemovePattern=A.
RemovePattern=K.
RemovePattern=L.
RemovePattern=M.
RemovePattern=N.
RemovePattern=O.
RemovePattern=P.
RemovePattern=Q.
RemovePattern=R.
RemovePattern=S.
RemovePattern=T.
RemovePattern=U.
RemovePattern=V.
RemovePattern=W.
RemovePattern=X.
RemovePattern=Y.
RemovePattern=Z.
RemovePattern=Gemeinschaftspraxis
RemovePattern=.
RemovePattern= 