RemovePattern=dr 
RemovePattern=dr. 
RemovePattern=dr.
RemovePattern=med. 
RemovePattern=med 
RemovePattern=med.
RemovePattern=ed. 
RemovePattern=a.
RemovePattern=b.
RemovePattern=c.
RemovePattern=d.
RemovePattern=e.
RemovePattern=f.
RemovePattern=g.
RemovePattern=h.
RemovePattern=i.
RemovePattern=j.
RemovePattern=k.
RemovePattern=l.
RemovePattern=m.
RemovePattern=n.
RemovePattern=o.
RemovePattern=p.
RemovePattern=q.
RemovePattern=r.
RemovePattern=s.
RemovePattern=t.
RemovePattern=u.
RemovePattern=v.
RemovePattern=w.
RemovePattern=x.
RemovePattern=y.
RemovePattern=z.
RemovePattern=gemeinschaftspraxis
RemovePattern=.
RemovePattern=,
ReplacePattern='-'->' '